      
      <div class="row">
        <div class="col">
            <h3>All Users</h3>
        </div>
        <div class="col-auto">
            <a href="#" class="btn btn-primary">Create User</a>
        </div>
      </div>

      <section class="d-none d-lg-block">
        <div class="table-responsive container--joe mt-3">
            <div class="d-flex justify-content-between line--joe">
              <p class="fs-5">Recent Transactions</p>
              <button class="fs-6 border-0 bg-white px-3">
                See All
              </button>
            </div>
            <table class="table table--hover--joe">
              <thead>
                <tr>
                  <th scope="col" class="fw-light">
                    S / N
                  </th>
                  <th scope="col" class="fw-light">
                    First Name
                  </th>
                  <th scope="col" class="fw-light">
                    Last Name
                  </th>
                  <th scope="col" class="fw-light">
                    Email
                  </th>
                  <th scope="col" class="fw-light">
                   Phone
                  </th>
                  <th scope="col" class="fw-light">
                    Gender
                  </th>
                  <th scope="col" class="fw-light">
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each users  }}
                <tr>
                  <td>{{ @index }}</td>
                  <td>{{ firstName }}</td>
                  <td>{{ lastName }}</td>
                  <td>{{ email }}</td>
                  <td>{{ phone }}</td>
                  <td>{{ gender }}</td>
                  <td>
                    <a href="#" class="btn btn-sm btn-warning">Edit</a> |
                    <a href="#" class="btn btn-sm btn-danger">Delete</a> | 
                  </td>
                </tr>
               {{/each  }}
              </tbody>
            </table>
          </div>
      </section>